name: bing rewards cron job

on:
  schedule:
    - cron: 0 8 * * *

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Collect Bing Rewards Points
      run: docker run -e BING_REWARDS_USER=${{ secrets.BING_REWARDS_USER }} -e BING_REWARDS_PASSWORD=${{ secrets.BING_REWARDS_PASSWORD }} leandrorosa/bing-rewards:latest
